//Variables
$text-color: #3f3f3f;

//Mixin
@mixin formato-texto($bg-color) {
    color: $text-color;
    width: 50rem;
    text-transform: uppercase;
    background-color: $bg-color;
}

//Componentes
@import "componentes";

h1 {
    color: red;
    background-color: green;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    background-color: azure;
    min-height: 100vh;
    padding: 0.5rem;
}

.container h1 {
    margin: 0;
    @include formato-texto(#f1f1f1);
}

p {
    @include formato-texto(#c91919);
}