h1 {
    color: red;
    font-size: 4rem;
}

p {
    color: black;
    font-size: 2rem;
}

@media all and (min-width: 576px) {
    h1 {
        color: green;
    }
}

@media all and (min-width: 995px) {
    h1 {
        color: blue;
    }
}