.div1, .div2 {
    background-color: brown;
    /* display: block; --> por defecto */
}

.img {
    width: 50px;
    height: 50px;
    /* display: inline-block; --> por defecto */
}

.span1 {
    background-color: aquamarine;
    /* display: inline; --> por defecto */
}

.span2 {
    background-color: aquamarine;
    /* display: inline; --> por defecto */
    float: right;
}