/* https://codepen.io/enxaneta/full/adLPwv */

.flex {
    display: flex;
    flex-direction: column; /* ""Cambia los ejes"" */
    background-color: yellow;
    height: 300px;
    justify-content: space-around; /* Eje X */
    align-items: center; /* Eje Y */
    /* flex-wrap: wrap; */
}

.contenido1 {
    background-color: white;
    /* height: 200px;*/
    width: 100px;
    border: 1px solid blue;
}

.contenido2 {
    background-color: white;
    /* height: 200px;*/
    width: 100px;
    border: 1px solid blue;
}

.contenido3 {
    background-color: white;
    /* height: 200px;*/
    width: 100px;
    border: 1px solid blue;
}